<a href="https://colab.research.google.com/github/gustavocern/PROGRA-III-2023/blob/main/practicas_de_programacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeros Ejercicios.

TIPOS DE DATOS

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

Los valores: Num 1:  5  Num 2:  4.9
Valor: Num 1:  5

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

Variable Booleana:  False

In [ ]:
nombre = "Luis Hernandez"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

Mi Nombre:  Luis Hernandez Iniciales:  L H Longitud:  14
Primer Nombre:  Luis
Primer Nombre:  Luis
Apellido:  Hernandez
Apellid:  Hernandez
Apellido:  Hernandez

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

Num 1: 4
N4.2um 2: 6
10.0

**FUNCIONES DE USUARIO**

* Convertir grados celsius a farenheit.

In [ ]:
def convertir_cf(c):
  return 32 + c*9/5

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 3
F:  37.4

**EJERCICIOS**
* Convertir de Farenheit a Celsius
* Convertir de [Celsius, Farenheit] a Kelvin

* CALCULAR EL SUELDO MENSUAL

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

Horas trabajadas: 8
Sueldo:  960.0 ISR:  55.18999999999998 816.01

**FUNCIONES LAMBDA**
* FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

[1]

In [ ]:
resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

15

**TUPLAS**

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

1
7

**LISTAS** => **Array**

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

['nov', 'dic']
['ene', 'feb']
['enero', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

Progra II

**DICCIONARIOS** => **JSON**

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

5

**LISTAS**

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f) )

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

[2, 6, 8]

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

[5, 9]

**CICLOS**
* FOR

In [ ]:
for item in data:
  print(item)

* WHILE

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

**TABLA DE MULTIPLICAR**

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i )

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

Edad: 5
Soy un niño

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

EL numero mayor de la lista:  [5, 8, 9, 15, 7, 9, 2, 3, 2, 1] es:  15

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

15

**Escribir un programa que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10**

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota>10):
  print("Nota invalida")
elif(nota<5):
  print("SUPENSO")
elif(nota<7):
  print("APROBADO")
elif(nota<9):
  print("NOTABLE")
elif(nota<10):
  print("SOBRESALIENTE")
else:
  print("HONORABLE")

Nota: 10
HONORABLE

**Escriba un programa que muestre la secuencia fibonacci**

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=", c)
  b=a
  a=c

1. **Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario**
2. **Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.**
3. Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

**PROGRAMACION ORIENTADA A OBJETOS.**

* CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2

* INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()

* OBJETO

In [ ]:
print( "La suma de 5 + 3 = ", objCalculadora.sumar(5,3) )

La suma de 5 + 3 =  8

*Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V *

In [ ]:
def decimal_a_romano(numero):
    val = [
        1000, 900, 500, 400,
        100, 90, 50, 40,
        10, 9, 5, 4,
        1
        ]
    syb = [
        "M", "CM", "D", "CD",
        "C", "XC", "L", "XL",
        "X", "IX", "V", "IV",
        "I"
        ]
    roman_num = ''
    i = 0
    while  numero > 0:
        for _ in range(numero // val[i]):
            roman_num += syb[i]
            numero -= val[i]
        i += 1
    return roman_num

try:
    numero_decimal = int(input("Introduce un número decimal: "))
    if numero_decimal <= 0:
        print("Ingresa un número entero positivo.")
    else:
        numero_romano = decimal_a_romano(numero_decimal)
        print(f"El número romano equivalente es: {numero_romano}")
except ValueError:
    print("Ingresa un número válido.")

Introduce un número decimal: 2
El número romano equivalente es: II

Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.

In [ ]:
def es_palindromo(palabra):
    palabra = palabra.lower()
    palabra = palabra.replace(" ", "")
    return palabra == palabra[::-1]

palabra_usuario = input("Introduce una palabra: ")

if es_palindromo(palabra_usuario):
    print(f"{palabra_usuario} es un palíndromo.")
else:
    print(f"{palabra_usuario} no es un palíndromo.")

Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario

In [ ]:
def calcular_media(lista_numeros):
    suma = sum(lista_numeros)
    media = suma / len(lista_numeros)
    return media

numeros_usuario = input("Introduce una serie de números separados por espacios: ")
numeros_lista = [float(numero) for numero in numeros_usuario.split()]

if numeros_lista:
    media = calcular_media(numeros_lista)
    print(f"La media aritmética de los números ingresados es: {media}")
else:
    print("No se ingresaron números válidos.")

TAREA

---
---
####**Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto.**

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30

  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
 impSr = 0
 for tramo in tabla_isr:
   if sueldo>tramo[0] and sueldo<=tramo[1]:
     impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
     return impSr

In [ ]:
valorXhr = 4
#iss = 3%
#afp = 6.26%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print(chr(27)+"[1;32m"+"Sueldo:", "$",s,chr(27)+"[1;31m"+'\n'"ISR:", isr, s*0.9075-isr)

Horas trabajadas: 144
Sueldo: $ 49920.0
ISR: 13267.857 32034.543

---
---
####**Calcular el valor a pagar según el número de metros consumidos de agua potable**

In [ ]:
def calcular_valor_agua(metros_consumidos):
    if metros_consumidos <= 18:
        valor_pagar = 6
    elif 19 <= metros_consumidos <= 28:
        exceso_metros = metros_consumidos - 18
        valor_exceso = exceso_metros * 0.45
        valor_pagar = 6 + valor_exceso
    else:
        29>= metros_consumidos
        exceso_metros = metros_consumidos - 28
        valor_exceso = exceso_metros * 0.65

        exceso_metros1 = 28 - 18
        valor_exceso1 = exceso_metros1 * 0.45

        valor_pagar = valor_exceso + valor_exceso1 + 6

    return valor_pagar

metros_consumidos = int(input("Ingrese la cantidad de metros consumidos: "))
valor_total = calcular_valor_agua(metros_consumidos)
print(chr(27)+"[1;32m"+(f"El valor a pagar es: {valor_total} dólares"))

Ingrese la cantidad de metros consumidos: 59
El valor a pagar es: 30.650000000000002 dólares

---
---
#### **Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos.**

El usuario digita el mes que desea acumular

In [ ]:
def calcular_acumulado(n):

    cantidad_acumulada = n * (n + 1) / 2

    return cantidad_acumulada

def main():
    try:
        n = int(input("Ingresa el número de meses: "))
        acumulado = calcular_acumulado(n)
        print(chr(27)+"[1;32m"+"La cantidad acumulada durante", n, "meses es:", int(acumulado))
    except ValueError:
        print("Ingresa un número válido.")

if __name__ == "__main__":
    main()

Ingresa el número de meses: 0
La cantidad acumulada durante 0 meses es: 0

Imprime una tabla de meses acumulados

In [ ]:
def calcular_acumulados(valores_mensuales):
    acumulados = [0]

    for i in range(len(valores_mensuales)):
        acumulado_actual = acumulados[-1] + valores_mensuales[i]
        acumulados.append(acumulado_actual)

    return acumulados[1:]

valores_mensuales = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
acumulados = calcular_acumulados(valores_mensuales)

for i, acumulado in enumerate(acumulados):
    print(f"Mes {i+1}: Acumulado = {acumulado}")

Mes 1: Acumulado = 1
Mes 2: Acumulado = 3
Mes 3: Acumulado = 6
Mes 4: Acumulado = 10
Mes 5: Acumulado = 15
Mes 6: Acumulado = 21
Mes 7: Acumulado = 28
Mes 8: Acumulado = 36
Mes 9: Acumulado = 45
Mes 10: Acumulado = 55
Mes 11: Acumulado = 66
Mes 12: Acumulado = 78

---
---
#### **Conversores**

In [ ]:

monedas = {
  "USD": (1, "Dólar"),
  "SVC": (8.75, "Colon salvadoreño"),
  "GTQ": (7.86, "Quetzal"),
  "hnl": (24.72, "Lempira"),
  "nio": (36.62, "Córdoba"),
  "eur": (0.921265, "Euro"),
  "cad": (1.35, "Dólar canadiense"),
  "mxn": (17.14, "Peso mexicano"),
  "aud": (1.55, "Dólar australiano"),
  "inr": (83.0915, "Rupia")
}
longitud = {

  "km": (1, "Kilómetro"),
  "cm": (100000, "Centímetro"),
  "mm": (1000000, "Milímetro"),
  "m" : (1000, "Metro"),
  "rd": (198.84, "Barra"),
  "nm": (1000000000, "Nanómetro"),
  "mi": (0.621371, "Milla"),
  "yd": (1093.61, "Yarda"),
  "ft": (3280.84, "Pie"),
  "in": (39370.08, "Pulgada")

}

almacenamiento = {
  "GB": (1, "Gigabyte"),
 "bit": (8589934592, "Bit"),
  "kb": (8388608, "Kilobit"),
  "mb": (8192, "Megabit"),
  "Gb": (8, "Gigabit"),
  "Tb": (0.008, "Terabit"),
   "B":  (1073741824, "Byte"),
  "kB": (1048576, "Kilobyte"),
  "MB": (1024, "Megabyte"),
  "TB": (9.77e10-4, "Terabyte")
}
masa = {
    "t": (1, "Tonelada"),
    "kn": (9.81, "Kilonewton"),
    "kg": (1000, "Kilogramo"),
    "g": (1000000, "Gramo"),
    "st": (157.47, "Piedra"),
    "dag": (100000, "Decagramo"),
    "mg":  (1000000000, "Miligramo"),
    "ct": (5000000, "Quilate"),
    "gr": (15432358.35, "Grano"),
    "lb": (2204.62, "Libra")
}
volumen = {
     "l":(1, "Litro"),
    "ml": (1000, "Mililitro"),
    "pc": (0.0353147, "Pie cúbico"),
    "plc": (61.0237, "Pulgada cúbica"),
    "mc": (0.001, "Metro cúbico"),
    "ole": (33.814, "Onza líquida estadounidense"),
    "ge": (0.264172, "Galón estadounidense"),
    "tao": (4.16667, "Taza"),
    "ches": (67.628, "Chopine"),
    "ce": (1.05669, "Cuarto estadounidense")
}

area = {
 "mc": (1, "Metro cuadrado"),
"kmc": (0.000001, "Kilómetro cuadrado"),
"mic": (0.0000003861, "Micrómetro cuadrado"),
 "yc": (1.19599, "Yarda cuadrada"),
 "pc": (10.7639, "Pie cuadrado"),
"plc": (1550, "Pulgada cuadrada"),
"hec": (0.0001, "Hectárea"),
"acre": (0.000247105, "Acre"),
"cmc": (10000, "Centímetro cuadrado"),
"mlmc": (1000000, "Milímetro cuadrado")
}

tiempo = {
 "s": (1, "Segundo"),
"ns": (1000000000, "Nanosegundo"),
"mrs": (1000000, "Microsegundo"),
"mls": (1000, "Milisegundo"),
"min": (0.0166667, "Minuto"),
  "h": (0.000277778, "Hora"),
  "d": (0.000011574, "Día"),
"smn": (0.0000016534, "Semana"),
 "ms": (0.00000038052, "Milisegundo"),
 "añ": (0.00000003171, "Año")
}

def convertir_unidades(conversores):
     while True:
        print("\033[92m" + "Unidades Disponibles" + "\033[0m")
        for unidad in conversores:
           print(unidad + ": " + conversores[unidad][1])


        convertir_de = ""
        convertir_a = ""
        while convertir_de not in conversores :
            convertir_de = input("Convertir de:  ")
            if convertir_de not in conversores:
             print("unidad no válida. Inténtelo nuevamente.")

        while convertir_a not in conversores:
            convertir_a = input("Convertir a: ").lower()
            if convertir_a not in conversores:
             print("unidad no válida. Inténtelo nuevamente.")

        while True:
           cantidad_input = input(f"Ingrese la cantidad a convertir {convertir_de}: ")
           try:
              cantidad = float(cantidad_input)
              break
           except ValueError:
            print("Ingrese un valor numérico .")
        origen = conversores[convertir_de][0]
        destino = conversores[convertir_a][0]

        operacion = (destino / origen) * cantidad

        if operacion <= 0:
          print("La conversion no es posible. Introdusca una cantidad superir a 0.")

        elif (operacion) < 0.001 or (operacion) >= 100000000000:
            print(f"{cantidad:.2f} {convertir_de} es igual a {operacion:.2e} {convertir_a}. en notación científica")
        else:
            print(f"{cantidad:.2f} {convertir_de} es igual a {operacion:.3f} {convertir_a}.")


        salir = input("¿Deseas seguir en el conversor? (si) para continuar o cualquier otra tecla para salir")
        if salir.lower() != "si":
         break

#conversor de masa
def conversor_masa():
   print(chr(27) + "[1;31m" + "  Conversor de Masa ")
   convertir_unidades(masa)

#Conversor de longitud
def conversor_longitud():
  print(chr(27) + "[1;31m" + "  Conversor de Longitud ")
  convertir_unidades(longitud)

#Conversor de almacenamiento

def conversor_almacenamiento():
   print(chr(27) + "[1;31m" + "  Conversor de Almacenamiento ")
   convertir_unidades(almacenamiento)

#Conversor de area
def conversor_area():
  print(chr(27) + "[1;31m" + "  Conversor de Area ")
  convertir_unidades(area)

#Conversor de volumnen
def conversor_volumen():
  print(chr(27) + "[1;31m" + "  Conversor de Volumen ")
  convertir_unidades(volumen)

#Conversor de tiempo
def conversor_tiempo():
  print(chr(27) + "[1;31m" + "  Conversor de Tiempo ")
  convertir_unidades(tiempo)

 #conversor de moneda
def convertir_monedas():
    print(chr(27) + "[1;31m" + "  Conversor de Moneda ")
    convertir_unidades(monedas)


def menu_de_conversiones():
    while True:
        print(chr(27) + "[1;33m" + "  CONVERSORES DE: " + "\033[0m")
        print("1. Monedas")
        print("2. Longitud")
        print("3. Masa")
        print("4. Almacenamiento")
        print("5. Tiempo")
        print("6. Volumen")
        print("7. Area")
        print("8. Salir")

        menu_principal = int(input("Ingresa el número de la categoría que deseas: "))

        if menu_principal == 1:
            convertir_monedas()

        elif menu_principal == 2:
            conversor_longitud()

        elif menu_principal == 3:
            conversor_masa()

        elif menu_principal == 4:
            conversor_almacenamiento()

        elif menu_principal == 5:
           conversor_tiempo()

        elif menu_principal == 6:
           conversor_volumen()

        elif menu_principal == 7:
           conversor_area()

        elif menu_principal == 8:
            print("Saliendo...")
            break
        else:
            print("Opción no válida. Inténtelo nuevamente.")

if __name__ == "__main__":
    menu_de_conversiones()

  CONVERSORES DE:
1. Monedas
2. Longitud
3. Masa
4. Almacenamiento
5. Tiempo
6. Volumen
7. Area
8. Salir
Ingresa el número de la categoría que deseas: 4
  Conversor de Almacenamiento
Unidades Disponibles
GB: Gigabyte
bit: Bit
kb: Kilobit
mb: Megabit
Gb: Gigabit
Tb: Terabit
B: Byte
kB: Kilobyte
MB: Megabyte
TB: Terabyte
Convertir de:  B
Convertir a: kb
Ingrese la cantidad a convertir B: -6
La conversion no es posible. Introdusca una cantidad superir a 0.
¿Deseas seguir en el conversor? (si) para continuar o cualquier otra tecla para salir
  CONVERSORES DE:
1. Monedas
2. Longitud
3. Masa
4. Almacenamiento
5. Tiempo
6. Volumen
7. Area
8. Salir
Ingresa el número de la categoría que deseas: 8
Saliendo...

---
---
#### **Realizar un conversor propio, donde especifique el valor de conversión**

In [ ]:
def cajas_to_unidades(cajas):
    return cajas * 25

def unidades_to_cajas(unidades):
    return unidades / 25

def sacos_to_libras(sacos):
    return sacos * 50

def libras_to_sacos(libras):
    return libras / 50

def fardos_to_unidades(fardos):
    return fardos * 5

def unidades_to_fardos(unidades):
    return unidades / 5

In [ ]:
def main():
    while True:
        print(chr(27)+"[1;35m"+"   Menu de opciones a convertir: ")
        print("                              ")
        print("1. Convertir cajas a unidades")
        print("2. Convertir unidades a cajas")
        print("3. Convertir sacos a libras")
        print("4. Convertir libras a sacos")
        print("5. Convertir fardos a unidades")
        print("6. Convertir unidades a fardos")
        print("7. Salir")

        opcion = int(input("Seleccione una opción: "))

        if opcion == 1:
            cajas = int(input("Ingrese el número de cajas: "))
            unidades_result = cajas_to_unidades(cajas)
            print(f"{cajas} caja(s) equivale(n) a {unidades_result} unidad(es)")
            print("                              ")
        elif opcion == 2:
            unidades = int(input("Ingrese el número de unidades: "))
            cajas_result = unidades_to_cajas(unidades)
            print(f"{unidades} unidad(es) equivale(n) a {cajas_result} caja(s)")
            print("                              ")
        elif opcion == 3:
            sacos = int(input("Ingrese el número de sacos: "))
            libras_result = sacos_to_libras(sacos)
            print(f"{sacos} saco(s) equivale(n) a {libras_result} libras")
            print("                              ")
        elif opcion == 4:
            libras = int(input("Ingrese el número de libras: "))
            sacos_result = libras_to_sacos(libras)
            print(f"{libras} libras equivale(n) a {sacos_result} saco(s)")
            print("                              ")
        elif opcion == 5:
            fardos = int(input("Ingrese el número de fardos: "))
            unidades_result = fardos_to_unidades(fardos)
            print(f"{fardos} fardo(s) equivale(n) a {unidades_result} unidad(es)")
            print("                              ")
        elif opcion == 6:
            unidades = int(input("Ingrese el número de unidades: "))
            fardos_result = unidades_to_fardos(unidades)
            print(f"{unidades} unidad(es) equivale(n) a {fardos_result} fardo(s)")
            print("                              ")
        elif opcion == 7:
            print("Saliendo del Conversor.")
            break
        else:
            print("Opción no válida. Por favor, Ingrese una opción válida.")

if __name__ == "__main__":
    main()

Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones: (20%)
a. Pie Cuadrado
b. Vara Cuadrada
c. Yarda Cuadrada
d. Metro Cuadrado
e. Tareas
f. Manzana
g. Hectárea

In [ ]:
Piecuadrado = {
  "vc": (0.111, "Vara Cuadrada"),
  "yc": (0.111111, "Yarda cuadrada"),
  "mc": (0.092903, "Metro Cuadrado"),
  "t": (0.00014774656489, "Tareas"),
  "m": (0.000013188960818, "Manzana"),
  "h": (9.2903e-6, "Hectarea"),
  "pc": (1, "Pie cuadrado")

}
varacuadrada = {

  "pc": (7.52, "Pie cuadrado"),
  "vc": (1, "Vara cuadrada"),
  "yc": (0.9167, "Yarda cuadrada"),
  "mc": (0.698896, "Metros cuadrados"),
  "t": (36.62, "Tareas"),
  "m": (0.698896 , " m2 Manzana "),
  "h": (0.0000698, "Hectarea")

}

yardascuadrada = {
 "pc": (9, "Pie cuadrado"),
  "vc": (1.185, "Vara cuadrada"),
  "yc": (1, "Yarda cuadrada"),
  "mc": (0.836127, "Metros cuadrados"),
  "t": (36.62, "Tareas"),
  "m": (0.921265, "Manzana"),
  "h": (0.000084, "Hectarea")
}
metrocuadrado = {
  "pc": (10.7639, "Pie cuadrado"),
  "vc": (0,698896, "Vara cuadrada"),
  "yc": (1.19599, "Yarda cuadrada"),
  "mc": (1, "Metros cuadrados"),
  "t": (0.00159033, "m2 Tareas"),
  "m": (0.0001419647927314, "Manzana"),
  "h": (1.000000, "m2 Hectarea")
}
tareas = {
 "pc": (6768.34687003, "Pie cuadrado"),
  "vc": (387.44821, "Vara cuadrada"),
  "yc": ( 752.03854111, "Yarda cuadrada"),
  "mc": (628.86, "Metros cuadrados"),
  "t": (1, "Tareas"),
  "m": (0.921265, "Manzana"),
  "h": (1.35, "Hectarea")
}

manzana = {
 "pc": (75.207, "Pie cuadrado"),
  "vc": (10.000, "Vara cuadrada"),
  "yc": (1,197, "Yarda cuadrada"),
  "mc": (7000 , " m2 Metros cuadrados"),
  "t": (16, "Tareas"),
  "m": (0.921265, "Manzana"),
  "h": (1.35, "Hectarea")
}

hectarea = {
 "pc": (1, "Pie cuadrado"),
  "vc": (8.75, "Vara cuadrada"),

  "yc": (7.86, "Yarda cuadrada"),
  "mc": (24.72, "Metros cuadrados"),
  "t": (36.62, "Tareas"),
  "m": (1,43, "Manzana"),
  "h": (1, "Hectarea")
}

def convertir_unidades(conversores):
     while True:
        print("\033[92m" + "Unidades Disponibles" + "\033[0m")
        for unidad in conversores:
           print(unidad + ": " + conversores[unidad][1])


        convertir_de = ""
        convertir_a = ""
        while convertir_de not in conversores :
            convertir_de = input("Convertir de:  ")
            if convertir_de not in conversores:
             print("unidad no válida. Inténtelo nuevamente.")

        while convertir_a not in conversores:
            convertir_a = input("Convertir a: ").lower()
            if convertir_a not in conversores:
             print("unidad no válida. Inténtelo nuevamente.")

        while True:
           cantidad_input = input(f"Ingrese la cantidad a convertir {convertir_de}: ")
           try:
              cantidad = float(cantidad_input)
              break
           except ValueError:
            print("Ingrese un valor numérico .")
        origen = conversores[convertir_de][0]
        destino = conversores[convertir_a][0]

        operacion = (destino / origen) * cantidad

        if operacion <= 0:
          print("La conversion no es posible. Introdusca una cantidad superir a 0.")

        elif (operacion) < 0.001 or (operacion) >= 100000000000:
            print(f"{cantidad:.2f} {convertir_de} es igual a {operacion:.2e} {convertir_a}. en notación científica")
        else:
            print(f"{cantidad:.2f} {convertir_de} es igual a {operacion:.3f} {convertir_a}.")


        salir = input("¿Deseas seguir en el conversor? (si) para continuar o cualquier otra tecla para salir")
        if salir.lower() != "si":
         break

#conversor de pie cuadrado
def conversor_piecuadrado():
   print(chr(27) + "[1;31m" + "  Conversor de pie cuadrado ")
   convertir_unidades(Piecuadrado)

#Conversor de vara cuadrada
def conversor_varacuadrada():
  print(chr(27) + "[1;31m" + "  Conversor de vara cuadrada ")
  convertir_unidades(varacuadrada)

#Conversor de yarda cuadrada

def conversor_yardacuadrada():
   print(chr(27) + "[1;31m" + "  Conversor de yarda cuadrada ")
   convertir_unidades(yardascuadrada)

#Conversor de metro cuadrado
def conversor_metrocuadrado():
  print(chr(27) + "[1;31m" + "  Conversor de metro cuadrado ")
  convertir_unidades(metrocuadrado)

#Conversor de tarea
def conversor_tarea():
  print(chr(27) + "[1;31m" + "  Conversor de tarea ")
  convertir_unidades(tareas)

#Conversor de manzana
def conversor_manzana():
  print(chr(27) + "[1;31m" + "  Conversor de manzana ")
  convertir_unidades(manzana)

 #conversor de hectarea
def convertir_hectarea():
    print(chr(27) + "[1;31m" + "  Conversor de hectarea ")
    convertir_unidades(hectarea)


def menu_de_conversiones():
    while True:
        print(chr(27) + "[1;33m" + "  CONVERSORES DE: " + "\033[0m")
        print("1. Pie cuadrado")
        print("2. Vara cuadrada")
        print("3. Yarda cuadrada")
        print("4. metro cuadrado")
        print("5. Tarea")
        print("6. Manzana")
        print("7. Hectareas")
        print("8. Salir")

        menu_principal = int(input("Ingresa el número de la categoría que deseas: "))

        if menu_principal == 1:
            conversor_piecuadrado()

        elif menu_principal == 2:
            conversor_varacuadrada()

        elif menu_principal == 3:
            conversor_yardacuadrada()

        elif menu_principal == 4:
            conversor_metrocuadrado()

        elif menu_principal == 5:
           conversor_tarea()

        elif menu_principal == 6:
           conversor_manzana()

        elif menu_principal == 7:
           convertir_hectarea()

        elif menu_principal == 8:
            print("Saliendo...")
            break
        else:
            print("Opción no válida. Inténtelo nuevamente.")

if __name__ == "__main__":
    menu_de_conversiones()

  CONVERSORES DE:
1. Pie cuadrado
2. Vara cuadrada
3. Yarda cuadrada
4. metro cuadrado
5. Tarea
6. Manzana
7. Hectareas
8. Salir
  Conversor de pie cuadrado
Unidades Disponibles
vc: Vara Cuadrada
yc: Yarda cuadrada
mc: Metro Cuadrado
t: Tareas
m: Manzana
h: Hectarea
pc: Pie cuadrado